.container {
  text-align: center; /* Centralizar o texto */
}

.titulo-bem-vindo {
  color: #FFFFFF; /* Cor do texto */
  font-family: 'Arial', sans-serif; /* Substitua 'Arial' pela fonte desejada */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Deixa o texto em negrito */
  /* Outros estilos desejados */
  display: inline-block; /* Permite centralizar usando text-align */
  margin-top: 100px; /* Ajuste opcional para o espaçamento superior */
}

.botoes-container {
  display: flex;
  justify-content: center;
}

.botao {
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  margin: 0 10px; /* Espaçamento entre botões */
  border: none; /* Remova a borda do botão, se desejar */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer;
  text-decoration: none; /* Remova a decoração de texto */
  font-size: 16px; /* Tamanho da fonte do botão */
}

.botao:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse sobre o botão */
}
