.container {
  text-align: center; /* Centralizar o texto */
}

.titulo-bem-vindo {
  color: #FFFFFF; /* Cor do texto */
  font-family: 'Arial', sans-serif; /* Substitua 'Arial' pela fonte desejada */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Deixa o texto em negrito */
  /* Outros estilos desejados */
  display: inline-block; /* Permite centralizar usando text-align */
  margin-top: 100px; /* Ajuste opcional para o espaçamento superior */
}

.botoes-container {
  display: flex;
  justify-content: center;
}

.botao {
  background-color: #993399; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  margin: 0 10px; /* Espaçamento entre botões */
  border: none; /* Remova a borda do botão, se desejar */
  border-radius: 8px; /* Borda arredondada */
  cursor: pointer;
  text-decoration: none; /* Remova a decoração de texto */
  font-size: 16px; /* Tamanho da fonte do botão */
}

.botao:hover {
  background-color: #993399; /* Cor de fundo ao passar o mouse sobre o botão */
}

.descricao {
  color: #fff; /* Cor do texto da descrição */
  font-size: 18px; /* Tamanho da fonte da descrição */
  margin-top: 10px; /* Espaçamento superior da descrição */
  margin-bottom: 25px; /* Espaçamento inferior da descrição */
}

.bolas-flutuantes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.bola {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: flutuar 5s infinite alternate ease-in-out;
  background: radial-gradient(ellipse at center, #ffffff 45%, #000000 45%, #000000 55%, #ffffff 55%, #ffffff 100%);
  content: '';
}

.bola-1 {
  top: 10%;
  left: 10%;
}

.bola-2 {
  top: 10%;
  left: 90%;
}

.bola-3 {
  top: 90%;
  left: 10%;
}

.bola-4 {
  top: 90%;
  left: 90%;
}

/* Adicione mais estilos para outras bolas conforme necessário */

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
